body {
  font-family: Helvetica;
}

h1 {
  background-image: url(pattern.jpg);
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32 px;
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushes-title-bar {
  background-color: mediumspringgreen;
}

#frames-title-bar {
  background-color: lightcoral;
}

#paint-title-bar {
  background-color: skyblue;
}
